@import '../../assets//style/mixin';
@import '../../assets/style//colors';
.home-page {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  @include mGrid() {
    height: 100vh;
  }
  .app-area {
    position: relative;
    padding: 16px;
    width: 100%;
    @include mGrid() {
      width: 375px;
      height: 670px;
      margin: auto;
      box-sizing: border-box;
      border: 2px solid $black-two;
      border-radius: 6px;
      overflow: auto;
    }
    .search-country {
      margin-bottom: 8px;
    }
    .list-view-country {
      margin-top: 8px;
      .list-empty {
        margin-top: 120px;
      }
    }
  }
}
